body {
  margin: 0;
  font-family: "Almarai", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url("../src/assets/main/background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  direction: rtl;
  color: #ffffff;
  font-weight: 300;
}

h1,
h2,
h6 {
  margin: 0;
  color: #ffffff;
  direction: rtl;
}

button {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 10px;
  font-family: "Almarai";
  border: 1px solid white;
  border-bottom: none;
  background: linear-gradient(180deg, #aca6ee 0%, #9790ea 100%);
}
